.header {
    width: 100%;
}

// .icon-bar {
//     background: black;
//     margin-top: 5px;
//     height: 5px;
//     width: 20px;
// }

.header ul {
    display: flex; 
    justify-content: space-between;
    width: 100%;  
}

li {
    list-style: none;
}