.header {
    max-width: 100%;
}

.icon-bar {
    background: black;
    border-radius: 30%;
    margin-top: 5px;
    height: 5px;
    width: 30px;
}

.header ul {
    display: flex; 
}

li {
    list-style: none;
}

.nav__title {
    margin-left: auto;
    margin-right: auto    
}

.nav__search {
    margin-right: 30px;
}