html {
  font-size: 62.5%;
}

body {
  background: linear-gradient($purple, rgba(135, 44, 135, 0.9), $purple);
  color: $white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

.component {
  max-width: 100%;
  text-align: center;
}
